# Ignore backend dependencies and environment variables
backend/node_modules/
backend/.env

# Ignore frontend dependencies
frontend/node_modules/
frontend/.env

# Ignore OS files
.DS_Store
Thumbs.db

# To ensusre Python virtual environment files are ignored
ai-service/env/

# Ignore Python compiled cache files
**/__pycache__/
*.pyc